* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --font-open-sans: "Open Sans", sans-serif;
  --white-color: #fff;
  --black-color: #000;
  --title-color: #100c08;
  --text-color: #787878;
  --primary-color1: #ee3400;
  --primary-color2: #22249b;
}
html {
  font-size: 100%;
  scroll-behavior: smooth;
}
p b i {
  font-family: var(--font-open-sans);
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-open-sans);
  color: var(--title-color);
  /* font-size: 16px; */
  font-weight: 400;
  line-height: 30px;
}
li{
  line-height: 1.4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-open-sans);
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

input {
  border: none;
  outline: none;
}

button {
  outline: none;
  border: none;
}

i.bx {
  vertical-align: middle;
}
.primary-btn {
  border: 1px solid var(--primary-color1);
  padding: 3px 16px;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  border-radius: 12px;
  color: var(--white-color);
  background-color: var(--primary-color1);
  font-size: 14px;
}
.secoundry-btn {
  border: 1px solid var(--white-color);
  padding: 3px 16px;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  border-radius: 12px;
  color: var(--text-color);
  font-size: 14px;
  background-color: var(--white-color);
}
img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
header {
  position: fixed;
  top: 0px;
  z-index: 100;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}
.scrolled {
  background-color: #fff;
  color: #000 !important;
}
#banner-slider {
  position: relative;
}
#banner-slider .slick-slide img {
  width: 100% !important;
}

.primary-color {
  color: var(--primary-color1);
}
.about-bthawk {
  background-color: #fff;
  text-align: center;
  padding: 40px 30px;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 16px;
  position: absolute;
  bottom: -250px;
  left: 25%;
}
.feature {
  margin-top: 180px;
}
.Feature-heading {
  font-size: 30px;
}
.feature-card {
  box-shadow: 0px 0px 7px 0px #00000033;
  border-radius: 16px;
  padding: 25px 0px;
}
.card-footer {
  background-color: #e3e0e0;
  border-top-left-radius: 21px;
  border-bottom-left-radius: 21px;
  padding: 10px;
  width: 80%;
  margin-left: auto;
}
.apps .active {
  background-color: var(--primary-color2);
  color: #fff;
}
.app-1{
  width: 100%;
}
.app-1 {
  height: 170px;
  border: 1px solid var(--primary-color2);
  box-shadow: 0px 1.42px 22.01px 0px #00000040;
  display: grid;
  place-content: center;
  border-radius: 11.36px;
  color: var(--primary-color2);
}
.apps .app-icon {
  background: #fff;
  color: #000;
  border-radius: 50%;
  padding: 10px 15px;
  width: fit-content;
  border: 1px solid #000;
}
.apps .app-icon svg {
  font-size: 22px;
}
.apps .app-icon{
  background: var(--primary-color2);
    color: #ffffff;
}
.apps .active .app-icon{
  background: #fff;
    color: var(--primary-color2);
}
.app-cards{
  display: flex;
  align-items: center;
}
.appcard-1{
  border: 1px solid #22249B;
  padding: 25px;
  border-radius:11.36px;
  background-image: url('./assets/image/bg-shape-1.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
}
.feature{
  background-image: url('./assets/image/feature-bg-shape.svg');
  background-repeat: no-repeat;
  background-position: center left;
  background-size: initial;
}
.module-1{
  padding: 40px 25px;
  border-radius:11.36px;
  background-image: url('./assets/image/module-shape-1.svg');
  background-repeat: no-repeat;
  background-position: 90% 10%;
  border: 1px solid #CEE4E9;
  background-color: #F1FDFF;
}
.module-1 .primary-btn{
  background-color: #83E7F8 !important;
  border-color: #83E7F8;
}
.module-2{
  border: 1px solid #C8C1ED;
  background-color: #EDEAFF;
  padding: 40px 25px;
  border-radius:11.36px;
  background-image: url('./assets/image/module-shape-1.svg');
  background-repeat: no-repeat;
  background-position: 90% 10%;
}
.module-2 .primary-btn{
  background-color: #B6AAFF !important;
  border-color: #B6AAFF;

}
.module-3{
  border: 1px solid #EBE0C4;
  background-color: #FFF7E2;
  padding: 40px 25px;
  border-radius:11.36px;
  background-image: url('./assets/image/module-shape-1.svg');
  background-repeat: no-repeat;
  background-position: 90% 10%;
}
.module-3 .primary-btn{
  background-color: #FFE08D !important;
  border-color: #FFE08D;


}

.review-data{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  color: #fff;
}

.partner-slider{
  background-color: #025ACE;
  background-image: url('./assets/image/grid.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.partner-slider-main{
  position: relative;
}
.partner-slider-main::before,.partner-slider-main::after{
  width: 24rem;
  height: 100%;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(24%, #005bce), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, #005bce 24%, rgba(0, 0, 0, 0));
  z-index: 1;
  pointer-events: none;
}
.partner-slider-main::after{
  right: 0;
    left: unset;
    background: -webkit-gradient(linear, right top, left top, color-stop(24%, #005bce), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(270deg, #005bce 24%, rgba(0, 0, 0, 0));
}
.ourblog-heading{
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #E0E0E0;
}
.blog-detail{
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.submit-btn{
  position: absolute;
    right: 0px;
    height: 100%;
    top: 0px;
    width: -moz-fit-content;
    width: fit-content;
    display: grid
;
    place-content: center;
}
.submit-btn svg{
  width: 20px;
  color: #fff;
}
.nav-btn{
  display: none;
}
.navbar-mobile{
  width: inherit;
  display: flex;
  justify-content: space-around;
}
.desk-logo{
  display: block;
}
.mobile-logo{
  display: none;
}

@media(max-width:991px){
  .navbar-mobile { display: none; /* default to hidden */ } 
  .navbar-mobile.flex { display: flex; /* show when flex class is added */ }
  header{
    position: sticky;
    top: 0;
    padding-top: 15px;
    padding-bottom: 7px;
    background-color: #fff;
  }
  .desk-logo{
    display: none;
  }
  .mobile-logo{
    display: block;
  }
  .navbar-mobile{
    position: absolute;
    top: 80px;
    background: #fff;
    color: #000;
    width: 100%;
    left: 0px;
    flex-direction: column;
    align-items: end;
    padding-bottom: 20px;
    padding-right: 30px;
  }
  .nav-links{
    flex-direction: column;
    align-items: end;

  }
  .nav-btn{
    display: block;
  }
  .blog-img{
    width: 120px;
  }
  .store-img{
    width: 150px;
  }
  .app-img{
    width: 200px;
    margin: 20px auto;
  }
  .trust-img{
    width: 90%;
  }
  .about-bthawk{
    position: unset;
    margin: auto;
  }
  .feature{
    margin-top: 60px;
  }
  .app-1{
    height: 140px;
    width: 100%;
  }
  .app-btn-1{
    line-height: 1.2;
    margin-top: 5px;
  }
  .partner-slider-main::before, .partner-slider-main::after{
    width: 11rem;
  }
}
.nav-btn svg{
  width: 25px;
}
.header-1{
  display:flex;
  /* flex-wrap:wrap; */
  flex-direction: row;
  justify-content: space-between;

}

.blog-card{
  border: 2px solid #E8E8EA;
  border-radius: 11.27px;
  padding: 10px;
}
.apps .active .app-icon {
  background: #fff;
  color: #000;
}
.apps-1:first-child {
  grid-column: span 2 / span 2;
}

/* About Page */

.about-hero_img {
  background: url("./assets/image/about-hero_img.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bg-shadow {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 1rem;
}

.features_box_icon{
  background: linear-gradient(270deg, #FFFFFF 0%, #EBEBEB 100%);
  /* background: linear-gradient(270deg, #F2EBEB 0%, #FBF8F8 100%); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.features_box_text {
  border: 1px solid #E7E2E2;
  border-radius: 1rem;
  background: transparent;
}

.our-mentors {
  background-image: url('./assets/image/our_mentors.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 15rem;
  background-size: contain;

}

/* End About Page */

/* Contact Page */

.contact_us-details_left {
  border-radius: 10px;
  background-image: url('./assets/image/contact-info_bg.png');
  background-size: cover;
  background-position: center;
}

.contact_us-container {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
}

.custom-input {
  border-bottom: 1px solid #000;
}


/* End Contact Page */
